.select-container {
  position: absolute;
  top: 13%;
  right: 7%;
  width: 40%;
  height: 7%;
}
select {
  width: 82%;
  height: 100%;
  font-family: inherit;
  font-size: 18px;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #d4bf91;
}
